<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title: "gracias"}) %>
<!-- Header -->
<%- include('../partials/headerNavbar') %>
<body class="colors__<%= locals.color && color %> ">
    <h1>Gracias por visitarnos</h1>
</body>
<!-- footer -->
<%- include('../partials/footer') %>